@font-face {
	font-family: DejaVuSans;
	src: url('../fonts/DejaVuSans.ttf');
}
@font-face {
	font-family: DejaVuSansLight;
	src: url('../fonts/DejaVuSans-ExtraLight.ttf');
}

@font-face {
	font-family: DejaVuSansCondensed;
	src: url('../fonts/DejaVuSansCondensed.ttf');
}
@font-face {
	font-family: DejaVuSerif;
	src: url('../fonts/DejaVuSerif.ttf');
}
@font-face {
	font-family: DejaVuSerifCondensed;
	src: url('../fonts/DejaVuSerifCondensed.ttf');
}
@font-face {
	font-family: DajaVuMono;
	src: url('../fonts/DejaVuSansMono.ttf');
}