@main: #333;
@background: #fff;
@container_background: #fcfcfc;
@gradient_teaser_top: #333;
@gradient_teaser_bottom: #000;
@teaser_top_shadow: darken(@gradient_teaser_top, 10%);
@teaser_bottom_shadow: darken(@gradient_teaser_bottom, 10%);
@neon: #fff;
@footer_background: #efefef;
@footer_color: #333;
@footer_link_color: #333;
@footer_shadow: darken(@footer_background, 10%);
@space_container: 60px;
@link_color: #555;
@lean_color: #333;
@lib_color: #aaa;
@code_background: #f0f0f0;
@code_border: darken(@code_background, 50%);
@download_color: #333;
@download_gradient_top: #fff;
@download_gradient_bottom: #eee;

/* html, body */
html {
    background-color: @background;
    margin:0;
    padding:0;
    min-height: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
}

body {
    margin: 0 auto;
    min-height: 100%;
    padding: 0;
    background-color: @background;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* float */
.left {
    float: left;
}
.right {
    float: right;
}

/* header */
h1 {
    font-family: 'Poiret One', sans-serif;
    margin-top: 0;

    #lean {
        font-size: 150%;
        color: @lean_color;
    }
    #microlib {
        color: @lib_color;
    }
    .left;
}
h1 a:hover {
    text-decoration: none;
}
h2 {
  color: @main;
  margin: 20px 0 10px 0;
}
h3, h4 {
    margin: 35px 0 10px 0;
    color: @main;
}

/* a, p, ul, li, code */
a {
    color: @link_color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    list-style-type: square;
}
code {
    background-color: @code_background;
    border: 1px solid @code_border;
    display: block;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'DejaVuMono';
}

.inline code {
    display: inline;
}

/* container */
#container {
    max-width: 900px;
    margin: 0px auto;
    padding: @space_container;
    padding-top: (@space_container/2);
    background-color: @container_background;
    box-shadow: -5px 0px 10px #ddd, 5px 0px 10px #ddd;
    min-height: 100%;
    position: relative
}

/* mixins */
.neon_shadow(@start, @stop) {
    text-shadow:
    0 0 10px @start,
    0 0 20px @start,
    0 0 30px @start,
    0 0 40px @stop,
    0 0 70px @stop,
    0 0 80px @stop,
    0 0 100px @stop,
}
.gradient(@top, @bottom) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom));
    background-image: -webkit-linear-gradient(top, @top, @bottom);
    background-image: -moz-linear-gradient(top, @top, @bottom);
    background-image: -ms-linear-gradient(top, @top, @bottom);
    background-image: -o-linear-gradient(top, @top, @bottom);
    background-image: linear-gradient(top, @top, @bottom);
}

.inner_shadow(@left, @top, @blur, @color) {
    -moz-box-shadow: inset @left @top @blur @color;
    webkit-box-shadow: inset @left @top @blur @color;
    box-shadow: inset @left @top @blur @color;
}
.outer_shadow(@left, @top, @blur, @color) {
    -moz-box-shadow: @left @top @blur @color;
    webkit-box-shadow: @left @top @blur @color;
    box-shadow: @left @top @blur @color;
}

/* navigation */
#topnav {
    .left;
    margin-top: 10px;
    #download a {
        color: @download_color;
        font-weight: bold;
        .gradient(@download_gradient_top, @download_gradient_bottom);
        border-color: #eee;
    }
    li {
        display: inline;
        a {
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
            padding: 0px 10px;
            height:35px;
            line-height: 35px;
            width: 125px;
            text-align: center;
            margin-right: 20px;
            .gradient(#333, #000);
            .outer_shadow(0,3px, 5px, #888);
            color: white;
            border:3px solid white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

/* teaser */
#teaser {
    .gradient(@gradient_teaser_top, @gradient_teaser_bottom);
    -moz-box-shadow:
        inset 0 5px 5px @teaser_top_shadow,
        inset 0 -5px 5px @teaser_bottom_shadow;
    height:150px;
    margin: 10px -@space_container (@space_container/2) -@space_container;
    padding: 0px;

    position:relative;

    h2 {
        color: white;
        .neon_shadow(white, @neon);
        letter-spacing: -1px;
        margin-top: 0;
        line-height: 150px;
        margin-left: @space_container;
    }
    #praise {
        color: #ddd;
        position:absolute;
        background: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .3);
        border-radius: 5px;
        text-align: right;
        top:25px;
        right: @space_container;
        height: 105px;
        width:423px;
        blockquote {
            overflow: hidden;
            p#quote {
                width:341px;
                font-weight: bold;
            }
        }
    }
    #praise cite {
        display: block;
        font-style: normal;

    }
}

/* footer */
footer {
    margin: 0px;
    margin-top:35px;
    display: block;
    background-color: @footer_background;
    color: white;
    .inner_shadow(0, 5px, 5px, @footer_shadow);
    padding: @space_container;
    min-height: 25px;
    color: @footer_color;
    a {
        color: @footer_link_color;
        text-decoration: none;
    }
}